In [3]:
import numpy as np
import pandas as pd
from sklearn.datasets import load_wine

wine = load_wine()
dir(wine)

['DESCR', 'data', 'feature_names', 'frame', 'target', 'target_names']

In [14]:
wine.feature_names

['alcohol',
 'malic_acid',
 'ash',
 'alcalinity_of_ash',
 'magnesium',
 'total_phenols',
 'flavanoids',
 'nonflavanoid_phenols',
 'proanthocyanins',
 'color_intensity',
 'hue',
 'od280/od315_of_diluted_wines',
 'proline']

In [7]:
wine_df = pd.DataFrame(wine.data, columns=wine.feature_names)
wine_df['target'] = wine.target
wine_df.head()

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline,target
0,14.23,1.71,2.43,15.6,127.0,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065.0,0
1,13.20,1.78,2.14,11.2,100.0,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050.0,0
2,13.16,2.36,2.67,18.6,101.0,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185.0,0
3,14.37,1.95,2.50,16.8,113.0,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480.0,0
4,13.24,2.59,2.87,21.0,118.0,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735.0,0

In [12]:
wine.target_names

array(['class_0', 'class_1', 'class_2'], dtype='<U7')

In [10]:
wine_df.columns[wine_df.isna().any()]

Index([], dtype='object')

In [15]:
wine_df = wine_df[['alcohol', 'flavanoids', 'color_intensity', 'target']]
wine_df

     alcohol  flavanoids  color_intensity  target
0      14.23        3.06             5.64       0
1      13.20        2.76             4.38       0
2      13.16        3.24             5.68       0
3      14.37        3.49             7.80       0
4      13.24        2.69             4.32       0
..       ...         ...              ...     ...
173    13.71        0.61             7.70       2
174    13.40        0.75             7.30       2
175    13.27        0.69            10.20       2
176    13.17        0.68             9.30       2
177    14.13        0.76             9.20       2

[178 rows x 4 columns]

In [16]:
X = wine_df.drop(['target'], axis='columns')
X

     alcohol  flavanoids  color_intensity
0      14.23        3.06             5.64
1      13.20        2.76             4.38
2      13.16        3.24             5.68
3      14.37        3.49             7.80
4      13.24        2.69             4.32
..       ...         ...              ...
173    13.71        0.61             7.70
174    13.40        0.75             7.30
175    13.27        0.69            10.20
176    13.17        0.68             9.30
177    14.13        0.76             9.20

[178 rows x 3 columns]

In [18]:
y = wine_df.target
y

0      0
1      0
2      0
3      0
4      0
      ..
173    2
174    2
175    2
176    2
177    2
Name: target, Length: 178, dtype: int32

In [42]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

In [43]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()
model.fit(X_train, y_train)

GaussianNB()

In [44]:
model.score(X_test, y_test)

0.9629629629629629

In [45]:
from sklearn.naive_bayes import MultinomialNB
model = MultinomialNB()
model.fit(X_train, y_train)

MultinomialNB()

In [46]:
model.score(X_test, y_test)

0.8703703703703703